@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400&display=swap");

* {
  font-family: "Tajawal", sans-serif;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:visited {
  background-color: #107867 !important;
  border-color: #107867;
}
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
  background-color: #e87001 !important;
  border-color: #e87001;
}

#header {
  height: 80px;
  background: rgb(25, 28, 31);
  background: transparent;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a {
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar a:hover {
  color: #e87001;
}

.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.bi-person-circle {
  color: white;
  font-size: 35px;
}

@media (max-width: 767px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul,
  .navbar-acc ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.dropdown-menu {
  position: absolute;
  left: -70px;
}

.dropdown-menu a {
  color: #102437;
}

#hero {
  width: 100%;
  height: 100vh;
  background: url("../images/heroImg.png") top right;
  background-size: cover;
  position: relative;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-family: "Satisfy", serif;
  color: #fff;
}

#hero .btn-scroll i {
  font-size: 48px;
}

.ecoland {
  margin-bottom: 52px;
  margin-left: 20px;
}

.hero-footer {
  position: absolute;
  bottom: 0;
}

.getStarted-btn {
  color: white;
  margin-top: 70px;
  margin-left: 15px;
}

.getStarted-btn:hover {
  color: white;
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .getStarted-btn {
    width: 350px;
    height: 50px;
    margin: auto;
    margin-left: 45px;
    margin-bottom: 15px;
  }
  .ecoland {
    width: 390px;
  }
}
/* /////////////////////////////////////////////////// */
/* Our value section */
#value {
  margin-top: 40px;
}

.head-title {
  font-weight: bolder;
  font-size: 36px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.098);
}

.value {
  background-color: #107867;
  color: white;
  border-radius: 11px;
  width: 32%;
  padding: 40px 40px 40px 40px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.137);
}

div .value:hover {
  transform: scale(1.1);
}

@media (max-width: 767px) {
  .value {
    width: 100%;
    margin: 10px;
    padding: 40px 40px 40px 40px;
  }
}

/* user dashboard starts*/
.user_menu {
  background-color: #102437;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 4%;
}
.history {
  background-color: #2c3d4d;
}

.table-row {
  background-color: F0F0F0;
  margin-top: 2%;
}
/* user dashboard ends */

.sipchemimg {
  margin-top: -40px;
}
.footercolor {
  background-color: #0f2132;
  /* position: absolute;
  bottom: 0px; */
}
.imgstyle {
  gap: 10px;
  padding: 10px;
}

/* user dashboard starts*/
.user_menu {
  background-color: #102437;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 4%;
}
.history {
  background-color: #2c3d4d;
}
/* user dashboard ends */
.contract-table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.tbody {
  background-color: #f9f9f9;
}
.contract-table-row {
  border-style: none none !important;
  border-radius: 100px !important;
}

.navbar-acc ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-acc a {
  padding: 10px 15px;
  color: #102437;
  white-space: nowrap;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-acc a:hover {
  color: #e87001;
}
